:root {
  /* COLORS */
  --black: #000000;
  --dark-blue: #202336;
  --orange: #FB8F1D;
  --dark-gray: #848484;
  --gray-desciption: #7D7987;

  /* FONTS */
  --mulish-font: "Mulish", sans-serif;
  --playfair-font: "Playfair Display", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.container-2 {
  max-width: 1120px;
  margin: 0 auto;
}

.header {
  margin-top: 35px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 35px;
  margin-right: 34px;
}

.menu__item a {
  color: #B8BECD;
}

.menu__item a:hover {
  color: var(--dark-blue);
}

.header__btns {
  display: flex;
  gap: 18px;
}

.primary__btn {
  width: 132px;
  height: 44px;
  border-radius: 8px;
  color: #fff;
  background-color: var(--orange);
  cursor: pointer;
}

.header__btn {
  background-color: #fff;
  border: 1px solid var(--orange);
  color: var(--orange);
  /* cursor: pointer; */
}

/* MAIN__SECTION */

.main__section {
  padding-top: 72px;
  position: relative;
}

.main__section-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.main__section-left {
  max-width: 470px;
}

.main__section-title {
  font-family: var(--playfair-font);
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 74px;
  color: var(--dark-blue);
}

.holiday__line {
  width: 32px;
  height: 2px;
  background: var(--dark-blue);
  margin-bottom: 48px;
}

.holiday__selects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.select__inner {
  position: relative;
}

.holiday__select {
  height: 52px;
  padding: 0 30px;
  border-radius: 6px;
  border: 1px solid #AFB0B9;
  color: #4A4C53;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
}

.arrow__down {
  position: absolute;
  top: 25px;
  right: 30px;
}

.main__section-btn {
  font-family: var(--mulish-font);
}

.main__section-el1 {
  width: 25px;
  position: absolute;
  top: 60%;
  left: 80px;
}

.main__section-el2 {
  position: absolute;
  left: 43%;
  top: 22%;
}

.main__section-el3 {
  position: absolute;
  left: 45%;
  bottom: 0;
}

.explore__world {
  padding-top: 270px;
  padding-bottom: 262px;
}

.world__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.world__right {
  max-width: 481px;
}

.world__title,
.guides__title {
  margin-bottom: 20px;
}

.world__text,
.guides__text {
  font-family: var(--mulish-font);
  color: var(--gray-desciption);
  font-size: 17px;
  line-height: 30px;
  text-align: left;
}

.world__btn {
  margin-top: 39px;
}

.logo-1 {
  margin-left: 163px;
  margin-top: 26px;
}

.logo-2 {
  margin-bottom: auto;
  margin-left: 26px;
}

.destination {
  padding-bottom: 290px;
}

.destination__top {
  padding-bottom: 56px;
}

.destination__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container-destination {
  position: relative;
  width: 261px;
  height: 332px;
}

.destination__img {
  border-radius: 8px;
}

.text__overlay {
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 60px;
  background-color: #fff;
  border-top-right-radius: 7px;
  padding-top: 12px;
  padding-right: 20px;
}

.text__overlay-top,
.text__overlay-bottom {
  line-height: 24px;
}

.text__overlay-top {
  font-size: 17px;
  font-weight: bold;
}

.text__overlay-bottom {
  font-size: 15px;
  color: #80918E;
}

.guides {
  margin-bottom: 248px;
}

.guides__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guides__right {
  max-width: 481px;
}

.logo-4 {
  margin-bottom: 47px;
  margin-left: 49px;
}

.guides__text {
  max-width: 450px;
  margin-bottom: 39px;
}

.logo-5 {
  margin-left: 252px;
  margin-bottom: 9px;
}

.stories {
  padding-bottom: 300px;
}

.stories__top,
.destination__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stories__link,
.destination__link {
  color: var(--orange);
  font-size: 17px;
  font-weight: bold;
}

.stories__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
  /* gap: 20px; */
}

.card {
  max-width: 266px;

}


.image-container {
  position: relative;
  width: 261px;
  height: 332px;
}

.text-overlay {
  position: absolute;
  font-size: 19px;
  line-height: 30px;
  max-width: 261px;
  height: 70px;
  text-align: left;
  /* top: 66%; */
  transform: translate(0%, -99%);
  background-color: #fff;
  font-weight: bold;
}

.stories__img {
  border-radius: 3%;
  height: 332px;
  width: 261px;
}

.card__text {
  font-size: 15px;
  line-height: 26px;
  color: var(--gray-desciption);
  margin-bottom: 23px;
}

.card__link {
  font-size: 15px;
  line-height: 28px;
  color: var(--orange);
  font-weight: bold;
}

.footer {
  background-color: #F9F9FB;
}

.footer__top {
  display: flex;
  padding-bottom: 81px;
  padding-top: 70px;
  justify-content: space-between;
}


.footer__left {
  max-width: 390px;
}

.footer__logo {
  padding-bottom: 26px;
}

.footer__info {
  font-family: var(--mulish-font);
  font-size: 18px;
  color: var(--dark-gray);
  font-weight: light;
  line-height: 28px;
  padding-bottom: 55px;
}

.footer__rights {
  font-family: var(--mulish-font);
  font-size: 17px;
  color: var(--dark-gray);
  font-weight: light;
  line-height: 28px;

}

.footer__menu-title {
  font-family: var(--mulish-font);
  font-size: 19px;
  color: var(--black);
  font-weight: bold;
  padding-bottom: 30px;
}

.footer__menu-item {
  font-family: var(--mulish-font);
  font-size: 18px;
  line-height: 38px;
  font-weight: light;
  color: var(--dark-gray);
}

.footer__menu-link {
  font-family: var(--dark-gray);
  color: var(--dark-gray);
}


.footer__menu-item {
  display: flex;
  flex-direction: column;
}


.footer__bottom {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
  padding-bottom: 33px;
  border: 1px solid #C4C4C4;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-top: 30px;
}

/* TESTIMONIALS */

.testimoniaals__inner {
  padding: 200px 0;
}

.swiper-slide__stars {
  display: flex;
  align-items: center;
  gap: 16px;
}

.swiper-slide__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-slide__left {
  max-width: 450px;
}

.swiper-slide__stars {
  margin-bottom: 30px;
}

.swiper-slide__blockquote {
  font-family: var(--mulish-font);
  font-size: 24px;
  margin-bottom: 40px;
}

.swiper-slide__author {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

.swiper-slide__company {
  font-size: 18px;
  opacity: .85;
}

.swiper-slide__right {
  border-radius: 14px;
  position: relative;
}

.slide-right__img {
  border-radius: 14px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  border: 1px solid #000;
  border-radius: 50%;
  background-image: url('./img/icons/Vector\ 2.svg');
  rotate: 180deg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}

.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  border: 1px solid #000;
  border-radius: 50%;
  background-image: url('./img/icons/Vector\ 2.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  bottom: 20px;
}

/* .swiper-button-prev {
  right: 70px !important;
}

.swiper-button-next {
  right: 10px !important;
} */

/* .swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
  
} */

.swiper-slide__right-el1 {
  position: absolute;
  right: 0;
}

.swiper-slide__right-el2 {
  position: absolute;
  bottom: 0;
}

.section__title {
  font-family: var(--playfair-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: var(--black);
}