:root {
  /* COLORS */
  --black: #000000;
  --dark-blue: #202336;
  --orange: #FB8F1D;
  --dark-gray: #848484;
  --gray-desciption: #7D7987;

  /* FONTS */
  --mulish-font: "Mulish", sans-serif;
  --playfair-font: "Playfair Display", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.header {
  margin-top: 35px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 35px;
  margin-right: 34px;
}

.menu__item a {
  color: #B8BECD;
}

.menu__item a:hover {
  color: var(--dark-blue);
}

.header__btns {
  display: flex;
  gap: 18px;
}

.primary__btn {
  width: 132px;
  height: 44px;
  border-radius: 8px;
  color: #fff;
  background-color: var(--orange);
  cursor: pointer;
}

.header__btn {
  background-color: #fff;
  border: 1px solid var(--orange);
  color: var(--orange);
  cursor: pointer;
}




.explore__world{
    padding-top: 270px;
    padding-bottom: 262px;
}

.world__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.world__right{
  max-width: 481px;
}

.world__title,
.guides__title {
  font-family: var(--playfair-font);
  font-size: 36px;
  color: var(--black);
  margin-bottom: 20px;
  line-height: 50px;
  text-align: left;
}

.world__text,
.guides__text{
  font-family: var(--mulish-font);
  color: var(--gray-desciption);
  font-size: 17px;
  line-height: 30px;
  text-align: left;
}

.world__btn{
  margin-top: 39px;
}

.logo-1{
  margin-left: 163px;
  margin-top: 26px;
}

.logo-2{
  margin-bottom: auto;
  margin-left: 26px;
}

.guides{
  margin-bottom: 248px;
}

.guides__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guides__right{
   max-width: 481px;
}

.logo-4{
  margin-bottom: 47px;
  margin-left: 49px;
}

.guides__title{
  margin-bottom: 20px;
}

.guides__text{
  max-width: 450px;
  margin-bottom: 39px;
}

.logo-5{
   margin-left: 252px;
   margin-bottom: 9px;
}
